<!doctype html>

<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Cards (error)</title>
</head>

<body>

<h1>Error while creating cards</h1>
<pre>
  {{ error }}
</pre>

</body>

</html>

